/.venv

*.pyc
*.log
*.code-workspace
__pycache__
settings.ini
keymap.ini
*.bat
*log.txt
errorLog.txt
build/
dist/
*.obj
*.m3u
*.m3u8
*.exp
*.lib
*.spec
*.pyo
*.mp3
pl_auto_save
/test.mp3
/test.py
/netDirList.dat
/m3u_history.dat
/.vscode

./update_file.zip
./updater.exe
./Ionic.Zip.dll
